<?php
$jira_user = 'FIXME';
$jira_password = 'FIXME';
$jira_url = 'https://jira.example.com/jira/';
$export_dir = __DIR__ . '/../www/';

//note: exclusion wins
//array of project keys you want to include (empty: export all)
$allowedProjectKeys = array();
//array of project keys you want to exclude
$bannedProjectKeys = array();

//additional html to prepend to all html files
$topbar = '';
?>
